header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    width: 100%;
    background-color: #fff;
    box-shadow: 2px 3px 6px rgba(0,0,0,.2);
    box-sizing: border-box;
    z-index: 100;
}

header .left-part{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

header .btn-burger {
    margin-right: 24px;

    display: none;
}

header .btn-burger .btn-menu {
    display: flex;
    align-items: center;
}

header .btn-burger svg {
    width: 18px;
    height: 14px;
    fill: #8f92a3;
}

header .left-part .btn-project-select span {
    font-size: 14px;
    line-height: 20px;
    color: #383e5c;
    font-family: 'IBM Plex Sans';
}

header .left-part .btn-project-select .open-list-icon {
    transform: rotate(-90deg);
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    padding-left: 5px;
    box-sizing: border-box;
}

header .left-part .list-of-project {}

header .left-part .date {
    color: #82869e;
    font-size: 14px;
    line-height: 20px;
    font-family: 'IBM Plex Sans';
    margin-left: 10px;
}

header .left-part .rates-wrapper {
    display: flex;
}

header .right-part {
    display: flex;
    align-items: center;
    height: 100%;
    color: #82869e;
    font-size: 14px;
    font-family: 'IBM Plex Sans';
    line-height: 20px;
    margin-right: 24px;
}

header .btn-help {
    margin-right: 12px;
    color: #82869e;
}

header .right-part .helpIcon {
    fill: #82869e;
}

header .right-part .user-info-wrapper {
    position: relative;
}

header .right-part .user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    padding: 0px 32px 0px 16px;
    box-sizing: border-box;
    cursor: pointer;
    
}

header .right-part .userDropDownMenu {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    border-radius: 0px;
}

header .right-part .userDropDownMenu .dropDownItem {
    line-height: 40px;
}

header .right-part .user-info:hover:not(.userMenuFocused) {
    background-color: rgba(83, 109, 254, 0.08);
    box-shadow: inset 0px -2px #4b62e3;
}

header .right-part .userMenuFocused {
    background-color: rgba(83, 109, 254, 0.08);
    box-shadow: inset 0px -2px #4257c9;
}

.dropDown .onHoverUserMenu:hover{
    box-shadow: inset 4px 0px #536dfe;
    background-color: #fff;
}

/*.dropDownIcon/-Item are internal classes of DropDownMenu component*/
.onHoverUserMenu:hover .dropDownIcon {
    fill: #536dfe;
}

.onHoverUserMenu:hover .dropDownItem {
    color: #536dfe;
}

header .right-part .user-icon-container {
    margin-right: 8px;
}

header .right-part .info {
    line-height: 15px;
}

header .right-part .info .full-name {
    color: #383e5c;
    font-size: 14px;
    font-weight: 600;
}

header .right-part .info .position {
    color: #82869e;
    font-size: 12px;
}

header .right-part .aside-buttons {
    display: none;
}

header .right-part .aside-buttons .btn-notifications-label {
    margin-right: 20px;
}

header .right-part .aside-buttons .btn-notifications-label svg {
    width: 16px;
    height: 19px;
    fill: #383e5c;
}

header .right-part .aside-buttons .btn-messages-label svg {
    width: 17px;
    height: 19px;
}

header .right-part .aside-buttons .btn-messages-label .st0 {
    fill: none;
}

header .right-part .aside-buttons .btn-messages-label .st1 {
    fill: #FFFFFF;
    stroke: #383e5c;
    stroke-miterlimit:10;
}