.ChatHeader {
    height: 60px;
    width: 100%;
    background-color: #fff;
    padding: 0px 16px;
    border-bottom: 1px solid rgba(208, 210, 222, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.ChatHeader__userInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
}

.ChatHeader__userName {
    color: #383e5c;
    font-size: 14px;
    line-height: 20px;
    font-family: 'IBM Plex Sans';
    font-weight: 600;
}

.ChatHeader__onlineStatus {
    font-size: 12px;
    color: #bfc1ca;
    line-height: 14px;
}

.ChatHeader__buttonsContainer{
    display: flex;
    
}

.ChatHeader__button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
}

.ChatHeader__button:hover {
    background-color: #bfc1ca6c;
}

.ChatHeader__menuButton {
    
}

.ChatHeader__menuButtonIcon {
    transform: rotate(90deg);
}

.ChatHeader__buttonIcon {
    fill: #82869e;
    width: 18px;
    height: 18px;
}