.ChatListItem {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    color: #383e5c;
    font-size: 14px;
    line-height: 20px;
    font-family: 'IBM Plex Sans';
    background-color: #fff;
    padding: 10px;
}

.ChatListItem:hover {
    background-color: #f2f4ff;
    border-radius: 10px;
}

.ChatListItem.ChatListItem-openedChat {
    background-color: #536dfe;
    border-radius: 10px;
    color: rgb(234, 234, 234);
}


.ChatListItem__menuButtonContainer {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ChatListItem__menuButtonIcon {
    fill: #82869e;
}

.ChatListItem-openedChat .ChatListItem__menuButtonIcon {
    fill: #c3c6d6;
}

.ChatListItem__userAvatar {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: #eee;
    flex-shrink: 0;
}

.ChatListItem__textBlock {
    display: flex;
    flex-direction: column;
    padding: 0px 8px;
    overflow: hidden;
}

.ChatListItem__lastMessage {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 8px;
}

.ChatListItem__dateTime {
    font-size: 12px;
    color: #bfc1ca;
    line-height: 12px;
}

.ChatListItem__userInfoContainer {
    display: flex;
    align-items: center;
}

.ChatListItem__userName {
    font-size: 14px;
    font-weight: 600;
}

.ChatListItem__onlineIndicator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #8bc34a;
    flex-shrink: 0;
    margin-left: 4px;
}