.site {
  display: flex;
  flex-direction: row;

  min-width: 320px;
  height: 100vh;
  overflow: hidden;

  color: #82869e;
  font-size: 14px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.site .user-icon-container{
  background-color: #eee;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.site .more-info-icon {
  width: 16px;
  height: 16px;
}

.site .more-info-icon svg {
  fill: #82869e;
}

.site .additional-info {
  color: #82869e;
  font-size: 12px;
  line-height: 16px;
}

.main-and-aside-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 1px;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}