main .sales-statistics {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;

    padding: 0px;
}

main .sales-statistics .tiles-header {
    height: 61px;
    padding: 0px 16px;
    align-items: center;
    font-size: 14px;
}


main .sales-statistics .salesStatisticButtun {

}

main .sales-statistics .devider {
    width: 100%;
    height: 1px;
    background-color: rgba(130, 134, 158, 0.2);
}

main .sales-statistics .sales-statistics-content {
    padding: 0px 16px;
    height: calc(100% - 62px);
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

main .sales-statistics .periods {
    height: 64px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .sales-statistics .periods-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -8px;
}

.btn-periods {
    color: #82869e;
}

main .sales-statistics .diagram {
    width: 100%;
    background-color: #82869e54;
    flex-grow: 1;
}

main .sales-statistics .btn-detailed-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 78px;
    width: 100%;
}