.Button {
    height: 36px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    font-family: 'IBM Plex Sans';
}

.Button_blue {
    background-color: #536dfe;
    color: #fff;
}

.Button_white {
    border: 1px solid #536dfe;
    color: #536dfe;
    background-color: #fff;
}